{% extends 'index.html' %}

{% block title %} Christ Model Maternity Centre - About  {% endblock %}

{% block content %}


<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block text-center">
            <span class="text-white">About Us</span>
            <h1 class="text-capitalize mb-5 text-lg">About Us</h1>
  
            <!-- <ul class="list-inline breadcumb-nav">
              <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
              <li class="list-inline-item"><span class="text-white">/</span></li>
              <li class="list-inline-item"><a href="#" class="text-white-50">About Us</a></li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section about-page">
      <div class="container">
          <div class="row">
              <div class="col-lg-4">
                  <h2 class="title-color">Personal care for your healthy living</h2>
              </div>
              <div class="col-lg-8">
                  <p>We provide patients with quality, integrated care and focus on adopting the best clinical quality and safety practices to improve medical outcomes.</p>
              </div>
          </div>
      </div>
  </section>
  
  <section class="fetaure-page ">
      <div class="container">
          <div class="row">
              <div class="col-lg-3 col-md-6">
                  <div class="about-block-item mb-5 mb-lg-0">
                      <img src="../static/images/service/examination-medical.jpeg" alt="" class="img-fluid w-100">
                      <h4 class="mt-3">Examination & Diagnosis</h4>
                      <p>Tests for diagnosis, screening, and monitoring of diseases and conditions.</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="about-block-item mb-5 mb-lg-0">
                      <img src="../static/images/service/family-planning.jpg" alt="" class="img-fluid w-100">
                      <h4 class="mt-3">Family Planning</h4>
                      <p>Control the number and timing of pregnancies, for health and well-being of individuals and families </p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="about-block-item mb-5 mb-lg-0">
                      <img src="../static/images/service/antenatal-care-1.jpg" alt="" class="img-fluid w-100">
                      <h4 class="mt-3">Antenatal Care</h4>
                      <p>We provide care to pregnant women to promote and protect the health of both mother and baby during pregnancy.</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="about-block-item">
                      <img src="../static/images/service/immunization.jpg" alt="" class="img-fluid w-100">
                      <h4 class="mt-3">Immunisation</h4>
                      <p>Fortify your immune system against an infectious agent</p>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <section class="section team">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-6">
                  <div class="section-title text-center">
                      <h2 class="mb-4">Meet Our Specialist</h2>
                      <div class="divider mx-auto my-4"></div>
                      <p>Today's users expect effortless experiences. Don't let essential people and processes stay stuck in the past. Speed it up, skip the hassles</p>
                  </div>
              </div>
          </div>
  
          <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="team-block mb-5 mb-lg-0">
                      <img src="../static/images/team/team1.jpeg" alt="" class="img-fluid w-100">
  
                      <div class="content">
                          <h4 class="mt-4 mb-0">Babatunde Adetunmbi</h4>
                          <p>Emergency Physician</p>
                      </div>
                  </div>
              </div>
  
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="team-block mb-5 mb-lg-0">
                      <img src="../static/images/team/team2.jpeg" alt="" class="img-fluid w-100">
  
                      <div class="content">
                          <h4 class="mt-4 mb-0">Adetunmbi O.C</h4>
                          <p>Gynaecologist</p>
                      </div>
                  </div>
              </div>
  
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="team-block mb-5 mb-lg-0">
                      <img src="../static/images/team/team3.jpeg" alt="" class="img-fluid w-100">
  
                      <div class="content">
                          <h4 class="mt-4 mb-0">Kamal Adeshina</h4>
                          <p>General Practitioner & Consultant</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="team-block">
                      <img src="../static/images/team/team4.jpeg" alt="" class="img-fluid w-100">
  
                      <div class="content">
                          <h4 class="mt-4 mb-0">Bolarinwa Abiola</h4>
                          <p>Physician - Child Care</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  
  
{% endblock %}