{% extends 'index.html' %}

{% block title %} Christ Model Maternity Centre - Services {% endblock %}

{% block content %}

<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block text-center">
            <span class="text-white">Our services</span>
            <h1 class="text-capitalize mb-5 text-lg">What We Do</h1>
  
            <!-- <ul class="list-inline breadcumb-nav">
              <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
              <li class="list-inline-item"><span class="text-white">/</span></li>
              <li class="list-inline-item"><a href="#" class="text-white-50">Our services</a></li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <section class="section service-2">
      <div class="container">
          <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="service-block mb-5">
                      <img src="../static/images/service/antenatal-care-1.jpg" alt="" class="img-fluid">
                      <div class="content">
                          <h4 class="mt-4 mb-2 title-color">Antenatal Care</h4>
                          <p class="mb-4">We provide care to pregnant women to promote and protect the health of both mother and baby during pregnancy.</p>
                      </div>
                  </div>
              </div>
  
              <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="service-block mb-5">
                      <img src="../static/images/service/examination-medical.jpeg" alt="" class="img-fluid">
                      <div class="content">
                          <h4 class="mt-4 mb-2  title-color">Complete Physical Examination</h4>
                          <p class="mb-4">Tests for diagnosis, screening, and monitoring of diseases and conditions.</p>
                      </div>
                  </div>
              </div>
              
              <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="service-block mb-5">
                      <img src="../static/images/service/gynecologist.jpeg" alt="" class="img-fluid">
                      <div class="content">
                          <h4 class="mt-4 mb-2 title-color">Gynaecology</h4>
                          <p class="mb-4">Treatment of women's reproductive organs diseases.</p>
                      </div>
                  </div>
              </div>
  
  
              <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="service-block mb-5 mb-lg-0">
                      <img src="../static/images/service/family-planning.jpg" alt="" class="img-fluid">
                      <div class="content">
                          <h4 class="mt-4 mb-2 title-color">Family Planning</h4>
                          <p class="mb-4">Control the number and timing of pregnancies, for health and well-being of individuals and families.</p>
                      </div>
                  </div>
              </div>
  
              <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="service-block mb-5 mb-lg-0">
                      <img src="../static/images/service/post-natal-care.jpg" alt="" class="img-fluid">
                      <div class="content">
                          <h4 class="mt-4 mb-2 title-color">Post natal care</h4>
                          <p class="mb-4">Medical services provided to individuals in the postpartum period</p>
                      </div>
                  </div>
              </div>
              
              <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="service-block mb-5 mb-lg-0">
                      <img src="../static/images/service/immunization.jpg" alt="" class="img-fluid">
                      <div class="content">
                          <h4 class="mt-4 mb-2 title-color">Immunisation</h4>
                          <p class="mb-4">Fortify your immune system against an infectious agent.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  

{% endblock %}